# Debug
.pnpm-debug.log*

# Environment
.env*.local
packages/api/.env
packages/worker/.env

# ESLint
.eslintcache

# JetBrains
.idea

# Mac
.DS_Store

# Next.js
.next
build
out

# Node.js
node_modules

# TypeScript
*.tsbuildinfo

# Vercel
.vercel

# Vite
dist

